.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 4px 1rem;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: start;
  /* gap: 4px; */
  /* margin: 0px; */

}

.center h1 {
  margin: 0px;
  margin-top: 1rem;
}
.center p {
  margin-top: 7px;
}


